[Unit]
Description=WOWHoneypot
After=network.target
Documentation=https://github.com/windschord/WOWHoneypot

[Service]
Type=simple
WorkingDirectory=/home/honeypotter/WOWHoneypot
ExecStart=/usr/bin/python3 wowhoneypot.py
ExecStop=/bin/kill -WINCH ${MAINPID}
User=honeypotter
Group=honeypotter

[Install]
WantedBy=multi-user.target
